{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ user_obj.username }}{% endblock %}
{% block menu %}
    {% if user_obj == request.user %}
        <li><a href="{% url "accounts:user_update" user_obj.pk %}">Edit Profile</a></li>
        <li><a href="{% url 'accounts:user_change_password' user_obj.pk %}">Change Password</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <h1>Profile: {{ user_obj.username }}</h1>
    {% if user_obj.profile.avatar %}
        <img class="avatar" src="{{ user_obj.profile.avatar.url }}" alt="user-pic">
    {% else %}
        <img class="avatar" src= "{% static "pictures/2.png" %}" alt="user-base-pic">
    {% endif %}
    <p>First Name: <b>{{ user_obj.first_name }}</b></p>
    <p>Last Name: {{ user_obj.last_name }}</p>
    <p>Email: {{ user_obj.email }}</p>
    <p>About Me: {{ user_obj.profile.description }}</p>
    <p>GitHub: {{ user_obj.profile.github }}</p>
{% endblock %}
