{% extends 'base.html' %}

{% block title %}{{ issue.summary }}{% endblock %}

{% block menu %}
    <li><a href="{% url 'webapp:issue_update' issue.pk %}">Edit</a></li>
    {% if request.user.is_authenticated %}

        <li><a href="{% url 'webapp:issue_delete' issue.pk %}">Delete</a></li>
    {% endif%}
{% endblock %}

{% block content %}
    <h1>{{ issue.summary }}</h1>
    <p>Created at {{ issue.created_at|date:'d.m.Y H:i:s' }} </p>
    <div class="pre">description: {{issue.description}}</div>
    <p>Type is {{ issue.type|default_if_none:'is not defined' }}</p>
    <p>Status is {{ issue.status|default_if_none:'is not defined' }}</p>
    <p>Project: {{ issue.project}}</p>

{% endblock %}