{% extends 'base.html' %}
{% load staticfiles %}

{% block menu %}
    {% if request.user.is_authenticated %}
        <li><a href="{% url 'webapp:type_add' %}">Add Type</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>List of types</h1>
    <hr/>
    {% for type in types %}
        <h2>{{ type.name }}</h2>
        <p>
            {% if request.user.is_authenticated %}
                <a href="{% url 'webapp:type_update' type.pk %}">Edit</a>
                <a href="{%  url 'webapp:type_delete' type.pk %}">Delete</a>
            {% endif %}
        </p>
        <hr/>
    {% endfor %}
{% endblock %}