{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ project.title }}{% endblock %}

{% block menu %}
    <li><a href="{% url 'webapp:project_index' %}">List of projects</a></li>
    {% if request.user.is_authenticated %}
        <li><a href="{% url 'webapp:project_update' project.pk %}">Edit</a></li>
        <li><a href="{% url 'webapp:project_delete' project.pk %}">Delete</a></li>
         <li><a href="{% url 'webapp:issue_add' project.pk %}">Add Issue</a>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>{{ project.title }}</h1>
    <p>Created at {{ project.created_at|date:'d.m.Y H:i:s' }} </p>
    <div class="pre">description: {{project.description}}</div>
    <hr>
    <div class="issue-list">
        <h3>Issues:</h3>
        {% for issue in issues %}
            <p>{{ issue.summary }} ({{ issue.type }}) created at {{ issue.created_at|date:'d.m.Y H:i:s' }}</p>
        {% endfor %}
    </div>
    <hr>
    <h3>Users:</h3>
    {% for user_obj in users %}
        <div class="project-user-show">
            <p>{{ user_obj.user.username }} started {{ user_obj.date_start}}</p>
            <form action="{% url 'webapp:team_delete' user_obj.pk %}" method="POST">
                {% csrf_token %}
                <button class="button">Delete</button>
            </form>
        </div>
    {% endfor %}

{% endblock %}