{% extends 'base.html' %}

{% block menu %}
    <li><a href="{% url 'project_add' %}">Add Project</a></li>
{% endblock %}

{% block content %}
    <h1>Projects</h1>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <hr/>
    {% for project in projects %}
        <h2>{{ project.title }}</h2>
        <p>Created at {{ project.created_at|date:'d.m.Y H:i:s' }}</p>
        <p>
            <a href="{% url 'project_view' project.pk %}">More...</a>
            <a href="{% url 'project_update' project.pk %}">Edit</a>
            <a href="{% url 'project_delete' project.pk %}">Delete</a>
        </p>
        <hr/>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}