{% extends 'base.html' %}

{% block title %}{{ project.title }}{% endblock %}

{% block menu %}
    <li><a href="{% url 'project_index' %}">List of projects</a></li>
    {% if request.user.is_authenticated %}
        <li><a href="{% url 'project_update' project.pk %}">Edit</a></li>
        <li><a href="{% url 'project_delete' project.pk %}">Delete</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>{{ project.title }}</h1>
    <p>Created at {{ project.created_at|date:'d.m.Y H:i:s' }} </p>
    <div class="pre">description: {{project.description}}</div>
    <hr>
    <div class="issue-list">
        <h3>Issues:</h3>
        {% for issue in issues %}
            <p>{{ issue.summary }} ({{ issue.type }}) created at {{ issue.created_at|date:'d.m.Y H:i:s' }}</p>

        {% endfor %}

{% endblock %}